@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Open+Sans:wght@300&family=Roboto+Condensed:wght@700&family=Trocchi&display=swap');
.navbar{
    background-color: #00649b;
}
.nav-link{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    
}
.nav-link:hover{
   color: #d5e5ff;
}

.card{
    background-color: white;
}

